<header class="sticky" [ngClass]="class" [class.fixed]="stick && sticky">
    <div class="mobile-fix-option"></div>
    <div class="top-header" *ngIf="topbar">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="header-contact">
                        <ul>
                            <li>{{'topbar-title' | translate}}</li>
                            <!--                            <li><i class="fa fa-phone" aria-hidden="true"></i>{{'call-us' | translate}}: 0886991516</li>-->
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 text-right">
                    <ul class="header-dropdown">
                        <li class="compare">
                            <a [routerLink]="['/shop/compare']"><i class="fa fa-random"
                                                                   aria-hidden="true"></i>{{'compare' | translate}}</a>
                        </li>
                        <li class="mobile-wishlist">
                            <a [routerLink]="['/shop/wishlist']"><i class="fa fa-heart" aria-hidden="true"></i>{{"wishlist" | translate}}</a>
                        </li>

                        <div *ngIf="auth.user$ | async; then authenticated else guest">
                            <!-- template will replace this div -->
                        </div>
                        <ng-template #guest>
                            <li>
                                <a (click)="auth.googleSignin()">
                                    {{"login" | translate}} <i  class="fa fa-google"></i>
                                </a>

                            </li>

                        </ng-template>

                        <ng-template #authenticated>

                            <li *ngIf="auth.user$ | async as user" class="onhover-dropdown mobile-account">
                                <i class="fa fa-user" aria-hidden="true"></i> {{"my-account" | translate}}
                                <ul class="onhover-show-div">

                                    <li>
                                        <a (click)="auth.signOut()">{{"logout" | translate}}</a>
                                    </li>
                                    <li *ngIf="user.admin">
                                        <a href="/shop/product/set">Create product</a>
                                    </li>
                                    <li>
                                        <a href="/orders"></a>
                                    </li>
                                </ul>
                            </li>

                        </ng-template>

                    </ul>

                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main-menu">
                    <div class="menu-left">
<!--                        <app-left-menu></app-left-menu>-->
<!--                        <div class="brand-logo">-->
                            <a routerLink="/home/" id="headerlogo">
                                <img [src]="themeLogo" class="img-fluid" alt="logo">
                            </a>
<!--                        </div>-->
                    </div>
                    <div class="menu-right pull-right">
                        <div>
                            <app-menu></app-menu>
                        </div>
                        <div>
                            <app-settings></app-settings>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
